//out: ../css/app.css
html, body {
	margin: 0;
	padding: 0;
}
// utils
* {
	box-sizing: border-box;
}
.addBorder(@color) {
	border: 1px solid @color;
}
.addRedBorder {
	border: 1px solid red;
}
.e-row {
	// .addBorder(red);
}
.brick {
	// .addBorder(green);
}
.fullWidth {
	width: 100%;
}
.addPadding15 {
	padding: 15px!important;
}
.addPadding50 {
	padding: 50px!important;
}
.addMargin15 {
	margin: 15px;
}
.addRadius50 {
	border-radius: 20px!important;
}
.btn-icon {
	background-color: transparent;
	border: 0;
	&:focus {
		outline: none;
	}
}
.fab-icon {
	i {
		margin-top: 10px;
		padding: 0!important;
	}
	// temp
	&.addWhite {
		i {
			color: white;
		}
	}
}

//-------------------
// grid
.flexBox {
	display: flex;
}
.flexColumn {
	flex-direction: column;
}
.alignEnd {
	align-self: flex-end;
}
.alignStart {
	align-self: flex-start;
}
.spaceBetween {
	justify-content: space-between;
}
.justCenter {
	justify-content: center;
}
//------------------
.sectionTitle {
	// temp
	color: #FFFFFF!important;
}
.cardContainer {
	border-radius: 10px!important;
	// temp
	background: #FFFFFF!important;
}
.mainProductImage {}
.productThumbs {}
// .acordeonMenu strarts here
.acordeonMenu {
	list-style: none;
	padding: 0;
	margin: 0;
	ul {
		display: none;
	}
	input[type=checkbox] {
		position: absolute;
		opacity: 0;
	}
	label, a {
		position: relative;
		display: block;
		line-height: 40px;
		padding: 10px;
		cursor: pointer;
		&:hover {
			span, i {
				color: #FFA747;
			}
		}
	}
	label {
		i {
			position: absolute;
			right: 0;
			line-height: 40px;
			font-size: 30px;
		}
	}
	input[type=checkbox]:checked + label + ul {
		display: block;
	}
}
//-------------
