//out: ../css/app.css
html, body {
	margin: 0;
	padding: 0;
}
img {
	display: block;
}
// utils
* {
	box-sizing: border-box;
}
.e-row {
	// .addBorder(green);
}
.brick {
	// .addBorder(blue);
}
.addCursor {
	cursor: pointer;
}
.addBorder(@color) {
	border: 1px solid @color;
}
.addRedBorder {
	border: 1px solid red;
}
.fullWidth {
	width: 100%!important;
}
.addPadding15 {
	padding: 15px!important;
}
.addPadding50 {
	padding: 50px!important;
}
.addLatPadding50 {
	padding-left: 50px!important;
	padding-right: 50px!important;
}
.addVertPadding50 {
	padding-top: 50px!important;
	padding-bottom: 50px!important;
}
.addMargin15 {
	margin: 15px;
}
.addRadius50 {
	border-radius: 20px!important;
}
.addRelative {
	position: relative;
}
.removeBottomMargin {
	margin-bottom: 0!important;
}
.marginLeftRight {
	margin: 0 10px 0 10px;
}
.btn-icon {
	background-color: transparent;
	border: 0;
	&:focus {
		outline: none;
	}
	&.headerBtn {
		padding: 10px 25px;
		&.white {
			.addBorder(white);
		}
	}
	&.sliderBtn {
		.addBorder(#212121);
		background: transparent!important;
	}
}
.fab-icon {
	i {
		margin-top: 10px;
		padding: 0!important;
	}
	// temp
	&.addWhite {
		i {
			color: white;
		}
	}
}
.addToCartFab {
	position: absolute!important;
	bottom: 20px;
	right: 0;
}
.price, .addToCartLink {
	line-height: 60px;

}
.price {
	width: 40%;
}
.addToCartLink {
	width: 60%;
	cursor: pointer;
	a {
		display: block;
	}
}
.absoluteBtn {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1;
	&.right {
		left: auto;
		right: 20px;
	}
}
.doubleBtn {
	display: flex!important;
}
.strechBtn{
	line-height: 50px!important;
	&.left {
		border-radius: 20px 0 0 20px!important;
		flex-grow: 1;
	}
	&.right {
		border-radius: 0 20px 20px 0!important;
		flex-grow: 2;
	}
}
.smallCartCard {
	line-height: 50px;
	.right, .left {
		width: 50%;
		&.active {
			//add this class to .left or .right blocks inside a .smallCartCard
			background: #FFA747!important;
			color: #FFFFFF!important;
		}
	}
}
.addLeftPadding50 {
	padding-left: 50px!important;
}
.twoColText {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}
.quoteText {
	position: relative;
	padding-left: 15px;
	p:before {
		content: "";
		display: inline-block;
		height: 45px;
		width: 4px;
		background: #FFA726;
		position: absolute;
		left: 0;
		top: 5px;
	}
}

.commentControl {
	.addBorder(#E0E0E0);
	.roundedCorners;
}
.roundedImg {
	border-radius: 50%;
	&.addOrangeBorder {
		border: 5px solid #FEB952;
	}
	&.addGreyBorder {
		border: 5px solid #282828;
	}
}
.roundedCorners {
	border-radius: 10px;
	input, textarea {
		border-bottom: 0!important;
		padding-bottom: 0!important;
		padding-right: 20px!important;
	}

	&.inputStyle {
		.addBorder(#e0e0e0);
	}
}

.eagleBg {
	background: url('../img/5starcap.jpg') center center no-repeat;
	background-size: cover;
	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	// 	opacity: .4;
	// }
}

.articleContainer {
	overflow-y: scroll;
	height: 400px;
	.customScrollbar;
	margin-right: 10px;
	margin-bottom: 10px;
}

//-------------------
// customScrollbar
.customScrollbar {
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: #EEEEEE;
		border-radius: 4px;
	}
	&:hover {
		&::-webkit-scrollbar-thumb {
			background: #b5b5b5;
		}
	}
}// end .custom-scrollbar
//-------------------
// grid
.flexBox {
	display: flex;
}
.flexColumn {
	flex-direction: column;
}
.alignEnd {
	align-self: flex-end;
}
.alignStart {
	align-self: flex-start;
}
.alignItemsCenter {
	align-items: center;
}
.alignItemsStart {
	align-items: flex-start;
}
.alignStrech {
	align-self: stretch;
}
.spaceBetween {
	justify-content: space-between;
}
.justCenter {
	justify-content: center;
}
.justEnd {
	justify-content: flex-end;
}
.flexGrowThis {
	flex-grow: 1;
}
//------------------
.sectionTitle {
	// temp
	color: #FFFFFF!important;
}

.cardContainer {
	border-radius: 10px!important;
}
.mainProductImage {}
.productThumbs {}
.imgContainer {
	height: 300px;
	overflow: hidden;
	img {
		position: absolute;
		width: 100%;
		top: -10%;
		left: 20%;
	}
	&.newArivals {
		height: 350px;
		img {
			top: 30%;
			width: 150%;
		}
	}
	&.smallItem {
		height: 200px;
		img {
			top: 10%;
		}
	}
}
.colorsContainer {
	flex-wrap: wrap;
	button {
		margin: 5px;
	}
}
.cardHeading {
	height: 100px;
	.bgText {
		font-size: 120px;
		font-weight: 700;
		line-height: 100px;
		position: absolute;
		bottom: -10px;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.normalText {
		position: absolute;
		left: 50%;
		line-height: 100px;
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}

.item {
	.striked {
		&:after {
			display: block;
			content: "";
			border-top: 1px solid #212121;
			width: 33px;
			position: absolute;
			top: 8px;
			left: -3px;
			-webkit-transform: rotate(-10deg);
			-moz-transform: rotate(-10deg);
			-ms-transform: rotate(-10deg);
			-o-transform: rotate(-10deg);
			transform: rotate(-10deg);
		}
	}
}
// blog
.layer {
	position: relative;
	top: 0;
	left: 0;
}
h1.addAfter {
	&:after {
		display: block;
		content: "";
		border-top: 2px solid #212121;
		width: 80px;
		margin-top: 10px;
	}
}

// headers
.headerContainer {
	overflow: hidden;
	position: relative;
	&.left {
		width: 75%;
	}
	&.right {
		width: 25%;
	}
	.largeText {
		font-size: 80px;
		font-weight: bolder;
	}
	.layer {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 20px 20px 70px 70px;
	}
	.layerTransparent {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.8;
	}
	.hugeText {
		font-size: 300px;
		font-weight: bolder;
		opacity: 0.3;
		margin-left: -15%;
		margin-top: 30%;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.logo {
		cursor: pointer;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		.disc {
			border-radius: 50%;
			width: 30px;
			height: 30px;
			font-size: 25px;
			overflow: hidden;
			margin-right: 10px;
			.one {
				margin-bottom: -8px;
				margin-right: -10px;
			}
			&.large {
				width: 40px;
				height: 40px;
				font-size: 35px;
				.one {
					margin-bottom: -12px;
				}
			}
		}
		.fullName {
			font-size: 20px;
		}
	}
	.middleText {
		margin-top: 20%;
	}
	.borderBottom {
		border-bottom: 1px solid #BDBDBD;
	}
	.transparentCard {
		width: 300px;
		.addRadius50;
		.addBorder(#BDBDBD);
		position: absolute;
		bottom: 10%;
		left: 5%;
		.rndBtn {
			border-bottom-right-radius: 20px!important;
		}
		.price {
			border-right: 1px solid #BDBDBD;
		}
	}
}

// .acordeonMenu strarts here
.acordeonMenu {
	list-style: none;
	padding: 0;
	margin: 0;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			cursor: pointer;
			&:hover {
				color: #FFA747;
			}
		}
	}
	input[type=checkbox] {
		position: absolute;
		opacity: 0;
	}
	label, a {
		position: relative;
		display: block;
		line-height: 40px;
		padding: 10px;
		cursor: pointer;
		&:hover {
			span, i {
				color: #FFA747;
			}
		}
	}
	label {
		i {
			position: absolute;
			right: 0;
			line-height: 40px;
			font-size: 30px;
		}
	}
	input[type=checkbox]:checked + label + ul {
		display: block;
	}
	input[type=checkbox]:checked + label i {
		-webkit-transform: rotate(-90deg);
	  -moz-transform: rotate(-90deg);
	  -ms-transform: rotate(-90deg);
	  -o-transform: rotate(-90deg);
	  transform: rotate(-90deg);
	}
}
//-------------
