html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.addRedBorder {
  border: 1px solid red;
}
.fullWidth {
  width: 100%;
}
.addPadding15 {
  padding: 15px!important;
}
.addPadding50 {
  padding: 50px!important;
}
.addMargin15 {
  margin: 15px;
}
.addRadius50 {
  border-radius: 20px!important;
}
.btn-icon {
  background-color: transparent;
  border: 0;
}
.btn-icon:focus {
  outline: none;
}
.fab-icon i {
  margin-top: 10px;
  padding: 0!important;
}
.fab-icon.addWhite i {
  color: white;
}
.flexBox {
  display: flex;
}
.flexColumn {
  flex-direction: column;
}
.alignEnd {
  align-self: flex-end;
}
.alignStart {
  align-self: flex-start;
}
.spaceBetween {
  justify-content: space-between;
}
.justCenter {
  justify-content: center;
}
.sectionTitle {
  color: #FFFFFF!important;
}
.cardContainer {
  border-radius: 10px!important;
  background: #FFFFFF!important;
}
.acordeonMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.acordeonMenu ul {
  display: none;
}
.acordeonMenu input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.acordeonMenu label,
.acordeonMenu a {
  position: relative;
  display: block;
  line-height: 40px;
  padding: 10px;
  cursor: pointer;
}
.acordeonMenu label:hover span,
.acordeonMenu a:hover span,
.acordeonMenu label:hover i,
.acordeonMenu a:hover i {
  color: #FFA747;
}
.acordeonMenu label i {
  position: absolute;
  right: 0;
  line-height: 40px;
  font-size: 30px;
}
.acordeonMenu input[type=checkbox]:checked + label + ul {
  display: block;
}
