html,
body {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
* {
  box-sizing: border-box;
}
.addCursor {
  cursor: pointer;
}
.addRedBorder {
  border: 1px solid red;
}
.fullWidth {
  width: 100%!important;
}
.addPadding15 {
  padding: 15px!important;
}
.addPadding50 {
  padding: 50px!important;
}
.addLatPadding50 {
  padding-left: 50px!important;
  padding-right: 50px!important;
}
.addVertPadding50 {
  padding-top: 50px!important;
  padding-bottom: 50px!important;
}
.addMargin15 {
  margin: 15px;
}
.addRadius50 {
  border-radius: 20px!important;
}
.addRelative {
  position: relative;
}
.removeBottomMargin {
  margin-bottom: 0!important;
}
.marginLeftRight {
  margin: 0 10px 0 10px;
}
.btn-icon {
  background-color: transparent;
  border: 0;
}
.btn-icon:focus {
  outline: none;
}
.btn-icon.headerBtn {
  padding: 10px 25px;
}
.btn-icon.headerBtn.white {
  border: 1px solid #ffffff;
}
.btn-icon.sliderBtn {
  border: 1px solid #212121;
  background: transparent!important;
}
.fab-icon i {
  margin-top: 10px;
  padding: 0!important;
}
.fab-icon.addWhite i {
  color: white;
}
.addToCartFab {
  position: absolute!important;
  bottom: 20px;
  right: 0;
}
.price,
.addToCartLink {
  line-height: 60px;
}
.price {
  width: 40%;
}
.addToCartLink {
  width: 60%;
  cursor: pointer;
}
.addToCartLink a {
  display: block;
}
.absoluteBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.absoluteBtn.right {
  left: auto;
  right: 20px;
}
.doubleBtn {
  display: flex!important;
}
.strechBtn {
  line-height: 50px!important;
}
.strechBtn.left {
  border-radius: 20px 0 0 20px!important;
  flex-grow: 1;
}
.strechBtn.right {
  border-radius: 0 20px 20px 0!important;
  flex-grow: 2;
}
.smallCartCard {
  line-height: 50px;
}
.smallCartCard .right,
.smallCartCard .left {
  width: 50%;
}
.smallCartCard .right.active,
.smallCartCard .left.active {
  background: #FFA747!important;
  color: #FFFFFF!important;
}
.addLeftPadding50 {
  padding-left: 50px!important;
}
.twoColText {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
}
.quoteText {
  position: relative;
  padding-left: 15px;
}
.quoteText p:before {
  content: "";
  display: inline-block;
  height: 45px;
  width: 4px;
  background: #FFA726;
  position: absolute;
  left: 0;
  top: 5px;
}
.commentControl {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
.commentControl input,
.commentControl textarea {
  border-bottom: 0!important;
  padding-bottom: 0!important;
  padding-right: 20px!important;
}
.commentControl.inputStyle {
  border: 1px solid #e0e0e0;
}
.roundedImg {
  border-radius: 50%;
}
.roundedImg.addOrangeBorder {
  border: 5px solid #FEB952;
}
.roundedImg.addGreyBorder {
  border: 5px solid #282828;
}
.roundedCorners {
  border-radius: 10px;
}
.roundedCorners input,
.roundedCorners textarea {
  border-bottom: 0!important;
  padding-bottom: 0!important;
  padding-right: 20px!important;
}
.roundedCorners.inputStyle {
  border: 1px solid #e0e0e0;
}
.eagleBg {
  background: url('../img/5starcap.jpg') center center no-repeat;
  background-size: cover;
}
.articleContainer {
  overflow-y: scroll;
  height: 400px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.articleContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
.articleContainer::-webkit-scrollbar-thumb {
  background: #EEEEEE;
  border-radius: 4px;
}
.articleContainer:hover::-webkit-scrollbar-thumb {
  background: #b5b5b5;
}
.customScrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
.customScrollbar::-webkit-scrollbar-thumb {
  background: #EEEEEE;
  border-radius: 4px;
}
.customScrollbar:hover::-webkit-scrollbar-thumb {
  background: #b5b5b5;
}
.flexBox {
  display: flex;
}
.flexColumn {
  flex-direction: column;
}
.alignEnd {
  align-self: flex-end;
}
.alignStart {
  align-self: flex-start;
}
.alignItemsCenter {
  align-items: center;
}
.alignItemsStart {
  align-items: flex-start;
}
.alignStrech {
  align-self: stretch;
}
.spaceBetween {
  justify-content: space-between;
}
.justCenter {
  justify-content: center;
}
.justEnd {
  justify-content: flex-end;
}
.flexGrowThis {
  flex-grow: 1;
}
.sectionTitle {
  color: #FFFFFF!important;
}
.cardContainer {
  border-radius: 10px!important;
}
.imgContainer {
  height: 300px;
  overflow: hidden;
}
.imgContainer img {
  position: absolute;
  width: 100%;
  top: -10%;
  left: 20%;
}
.imgContainer.newArivals {
  height: 350px;
}
.imgContainer.newArivals img {
  top: 30%;
  width: 150%;
}
.imgContainer.smallItem {
  height: 200px;
}
.imgContainer.smallItem img {
  top: 10%;
}
.colorsContainer {
  flex-wrap: wrap;
}
.colorsContainer button {
  margin: 5px;
}
.cardHeading {
  height: 100px;
}
.cardHeading .bgText {
  font-size: 120px;
  font-weight: 700;
  line-height: 100px;
  position: absolute;
  bottom: -10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cardHeading .normalText {
  position: absolute;
  left: 50%;
  line-height: 100px;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.item .striked:after {
  display: block;
  content: "";
  border-top: 1px solid #212121;
  width: 33px;
  position: absolute;
  top: 8px;
  left: -3px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.layer {
  position: relative;
  top: 0;
  left: 0;
}
h1.addAfter:after {
  display: block;
  content: "";
  border-top: 2px solid #212121;
  width: 80px;
  margin-top: 10px;
}
.headerContainer {
  overflow: hidden;
  position: relative;
}
.headerContainer.left {
  width: 75%;
}
.headerContainer.right {
  width: 25%;
}
.headerContainer .largeText {
  font-size: 80px;
  font-weight: bolder;
}
.headerContainer .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 20px 70px 70px;
}
.headerContainer .layerTransparent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}
.headerContainer .hugeText {
  font-size: 300px;
  font-weight: bolder;
  opacity: 0.3;
  margin-left: -15%;
  margin-top: 30%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.headerContainer .middleText {
  margin-top: 20%;
}
.headerContainer .borderBottom {
  border-bottom: 1px solid #BDBDBD;
}
.headerContainer .transparentCard {
  width: 300px;
  border-radius: 20px!important;
  border: 1px solid #bdbdbd;
  position: absolute;
  bottom: 10%;
  left: 5%;
}
.headerContainer .transparentCard .rndBtn {
  border-bottom-right-radius: 20px!important;
}
.headerContainer .transparentCard .price {
  border-right: 1px solid #BDBDBD;
}
.logo {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.logo .disc {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 25px;
  overflow: hidden;
  margin-right: 10px;
}
.logo .disc .one {
  margin-bottom: -8px;
  margin-right: -10px;
}
.logo .disc.large {
  width: 40px;
  height: 40px;
  font-size: 35px;
}
.logo .disc.large .one {
  margin-bottom: -12px;
}
.logo .fullName {
  font-size: 20px;
}
.subscribeSpan {
  line-height: 36px!important;
  margin-right: 20px;
}
.emailButton {
  min-width: 30px!important;
  border-radius: 0 5px 5px 0!important;
  margin: 0!important;
  padding: 0!important;
}
.emailInput {
  border-radius: 5px 0 0 5px;
  margin: 0!important;
  padding: 0!important;
  width: 130px!important;
  height: 36px!important;
}
.emailInput .e-input-efects {
  display: none;
}
.emailInput input {
  height: 36px!important;
  padding: 0!important;
  border: 0!important;
  color: white;
}
.emailInput span::after {
  line-height: 36px!important;
  height: 36px!important;
  padding-left: 10px!important;
}
.acordeonMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.acordeonMenu ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.acordeonMenu ul li {
  cursor: pointer;
}
.acordeonMenu ul li:hover {
  color: #FFA747;
}
.acordeonMenu input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.acordeonMenu label,
.acordeonMenu a {
  position: relative;
  display: block;
  line-height: 40px;
  padding: 10px;
  cursor: pointer;
}
.acordeonMenu label:hover span,
.acordeonMenu a:hover span,
.acordeonMenu label:hover i,
.acordeonMenu a:hover i {
  color: #FFA747;
}
.acordeonMenu label i {
  position: absolute;
  right: 0;
  line-height: 40px;
  font-size: 30px;
}
.acordeonMenu input[type=checkbox]:checked + label + ul {
  display: block;
}
.acordeonMenu input[type=checkbox]:checked + label i {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
